.login {
  width: 100%;
  height: 100vh;
  vertical-align: middle;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("src/back.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(50%);
}
.loginLeft {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: white;
  width: 30%;
  height: 60%;
  font-size: 35px;
  line-height: 65px;
  font-weight: bold;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.loginRight {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: white;
  width: 35%;
  height: 60%;
  font-size: 25px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.loginSignIn {
  padding: 10px 20px;
  margin: 20px;
  width: 300px;
  height: 70px;
}

.dark {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: -10%;
}

.darkImage {
  width: 50%;
  height: 70%;
}
