.message {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
}

.message__info {
  margin-left: 20px;
}

.message__info h4 {
  margin-bottom: 0px;
}
.message__info p {
  margin-top: 10px;
}

.message__timeStamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}
